aiohttp==3.6.3
asn1crypto==1.4.0
async-timeout==3.0.1
attrs==20.2.0
bit==0.7.2
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
coinbase-commerce==1.0.1
coincurve==13.0.0
discord==1.0.1
discord.py==1.5.1
idna==2.10
multidict==4.7.6
pycparser==2.20
requests==2.24.0
six==1.15.0
urllib3==1.25.11
yarl==1.5.1
